[package]
name = "dependency_runner"
description = "ldd for Windows - and more!"
version = "1.3.1"
authors = ["Marco Esposito <esposito@imfusion.com>"]
edition = "2021"
license = "LGPL-3.0-only"
repository = "https://github.com/marcoesposito1988/dependency_runner/"
readme = "README.md"
categories = ["command-line-utilities", "development-tools"]
keywords = ["dll"]
exclude = [
    "test_data/*",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
multimap = "0.10.0"
pelite = "0.10.0"
goblin = "0.9.2"
dataview = "1.0.1"
serde = { version = "1.0.196", features = ["derive"] }
anyhow = "1.0.79"
thiserror = "2.0.3"
clap = { version = "4.4.18", features = ["derive"] }
serde_json = "1.0.112"
roxmltree = "0.20.0"
regex = "1.10.3"
msvc-demangler = "0.10.1"
fs-err = "3.0.0"

[target.'cfg(not(windows))'.dependencies]
crossbeam = "0.8.2"
crossbeam-channel = "0.5.7"
skim = "0.11.11"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winuser", "sysinfoapi"] }
ntapi = "0.4.0"
